/tmp
/modules
/lib
test-result
test-results.xml
/logs
eclipse
.classpath
.settings
bin
.project
cobertura.ser
.DS_Store
nbproject
precompiled
*.iws
*.ipr
*.iml
.idea
*.log
.sonar
target
cobertura.ser.lock
*.sublime-*
server.pid
node_modules
app/views/includes.html
/assets
/karma.unit.js
/frontend/templates.js
/frontend/compiled.css